.process__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.process__item {
    padding: 5px 20px;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    background: #f9f9f9;
    box-shadow: 0px 0px 5px 0px rgb(128 128 128 / 30%);
    transition: all 0.2s ease-in-out;
}

.process__item:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 5px 0px var(--highlight-color);
}

@media (max-width: 1200px) {
    .process__list {
        gap: 15px;
    }

    .process__item {
        font-size: 12px;
        line-height: 24px;
    }
}