.main-services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-services__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 15px 25px;
    background: #f9f9f9;
    box-shadow: 0px 0px 5px 0px rgb(128 128 128 / 30%);
    transition: all 0.2s ease-in-out;
}

.main-services__item:nth-of-type(2) {
    box-shadow: 0px 0px 5px 0px var(--highlight-color);
}

.main-services__item:hover {
    transform: translateY(-5px);
}

.main-services__title,
.main-services__price {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
}

.main-services__title {
    margin-bottom: 20px;

}

.main-services__price {
    color: var(--highlight-color);
}

.main-services__duration {
    color: #969696;
}

.list {
    flex-grow: 1;
    padding-left: 10px;
    margin: 0;
}

.list__item {
    position: relative;
    padding-left: 25px;
    margin: 20px 0;
    list-style: none;
}

.list__item.check :before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 2px;
    width: 5px;
    height: 9px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: var(--highlight-color);
    transform-origin: bottom left;
    transform: rotate(45deg);
}

.list__item.plus::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 14px;
    width: 10px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: var(--highlight-color);
    transform-origin: bottom left;
}

.list__item.plus::before {
    content: '';
    display: block;
    position: absolute;
    left: 5px;
    top: 7px;
    width: 10px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: var(--highlight-color);
    transform-origin: bottom left;
    transform: rotate(90deg);
}

.list__title {
    margin: 0;
    font-style: 14px;
    font-weight: 500;
}

.list__text {
    margin: 0;
    font-size: 12px;
    line-height: 24px;
    color: #969696;
}

.main-services__button {
    padding: 10px 50px;
    border: 2px solid var(--highlight-color);
    border-radius: 5px;
    background: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.main-services__button:hover {
    background: var(--highlight-color);
}

.add-services {
    margin: 44px 0 0;
    padding: 0;
    list-style: none;
}

.services li:last-of-type p {
    margin-bottom: 0;
}

details {
    position: relative;
}

.add-services__summary {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

details summary::-webkit-details-marker {
    display: none;
}

details summary::before {
    content: "";
    position: absolute;
    left: 0px;
    background: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjM0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIzNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC41OSAxNi4zNGw0LjU4LTQuNTktNC41OC00LjU5TDEwIDUuNzVsNiA2LTYgNnoiLz48L3N2Zz4=") no-repeat 50% 50% / 1.3em 1.3em;
    width: 2em;
    height: 2em;
    transition: transform 0.15s ease-in-out;
}

details[open] summary:before {
    transform: rotate(90deg);
}

.add-services__title {
    display: inline-block;
    padding: 0 0 0 50px;
    margin: 0;
}

.add-services__title,
.add-services__price {
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;
    cursor: pointer;
}

.add-services__text,
.add-services__description {
    padding-left: 50px;
}

.add-services__description {
    font-style: italic;
    color: #969696;
}

.add-services__summary:hover {
    color: var(--highlight-color);
}

.line {
    margin: 35px 0;
    border-bottom: 1px solid var(--text-color);
    opacity: 0.2;
}

@media (max-width: 1200px) {
    .services h2 {
        margin-top: 27px;
    }

    .main-services {
        display: grid;
        grid-template-columns: 1fr;
        gap: 25px;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .main-services__title {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .main-services__price {
        font-size: 20px;
    }

    .main-services__item {
        padding: 30px 15px;
    }

    .main-services__button {
        margin-top: 15px;
    }

    details summary::before {
        content: none;
    }

    .add-services__text,
    .add-services__description {
        padding: 0;
    }

    .add-services__title {
        padding: 0 10px 0 0;
    }

    .list__item {
        margin: 15px 0;
    }

    .line {
        margin: 25px 10px;
    }
}