@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i&display=swap&subset=cyrillic');

@import url("footer.css");
@import url("services.css");

:root {
    --highlight-color: #f2b563;
    --text-color: #323232;
}

*:focus {
    outline: none;
}

html,
body {
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: var(--text-color);
}

.main-page {
    display: grid;
    grid-template-columns: 1fr 1140px 1fr;
    grid-template-rows: minmax(700px, auto);

}

.secondary-page {
    display: grid;
    grid-template-columns: 1fr 1140px 1fr;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-page header {
    display: grid;
    grid-template-columns: 1fr 1140px 1fr;
    grid-template-rows: minmax(300px, auto) minmax(400px, auto);
    grid-column: 1/-1;
    background: #5a89aa url("../img/header.jpg") no-repeat 0 -100px;
    background-size: cover;
    box-shadow: 0px 0px 4px 0px rgba(128, 128, 128, 0.4);
}

.secondary-page header {
    display: grid;
    grid-template-columns: 1fr 1140px 1fr;
    grid-column: 1/-1;
    color: var(--text-color);
}

main {
    grid-column: 2/3;
}

nav {
    grid-column: 2/3;
    height: 86px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

nav h1 {
    margin: 0;
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
}

.nav-logo {
    align-self: flex-end;
    text-decoration: none;
    color: white;
}

.secondary-page .nav-logo {
    color: var(--text-color);
}

.main-nav {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav li {
    align-self: flex-end;
    margin-left: 40px;
}

.main-nav li:first-of-type,
.nav-button,
.overlay {
    display: none;
}

.main-nav a {
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    color: white;
    text-decoration: none;
    transition: 0.4s;
}

.secondary-page .main-nav a {
    color: var(--text-color);
}

.main-nav a:hover {
    color: var(--highlight-color);
}

.slider-features {
    grid-column: 2/3;
    width: 50%;
    overflow: hidden;
}

.nav-features {
    display: flex;
    width: 2000px;
    margin: 0 0 0 100px;
    padding: 0;
    list-style: none;
    color: white;
    transition: transform ease 1.75s;
}

.nav-features .item {
    width: 500px;
    box-sizing: border-box;
    transition: opacity ease 0.5s;
}

.nav-features h3 {
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
}

.nav-features p {
    font-size: 18px;
    font-weight: 300;
    line-height: 36px;
    margin: 0 0 50px 0;
}

.button {
    margin-left: 400px;
    padding: 12px 30px 13px 30px;
    border-radius: 5px;
    background-color: var(--highlight-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    text-decoration: none;
    color: white;
    transition: margin-left ease 2.0s;
}

.wrapper {
    display: flex;
}

.title {
    display: inline;
    margin: 44px auto;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    border-bottom: 3px solid var(--highlight-color);
}

.about-us .team {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 25px;
}

.about-us img {
    width: 100%;
    vertical-align: bottom;
    box-shadow: 0px 0px 4px 0px rgba(128, 128, 128, 0.2);
}

.about-us figcaption {
    font-size: 14px;
    font-weight: 300;
}

.about-us h3 {
    margin: 0;
    margin-top: 17px;
    margin-bottom: -2px;
    font-size: 16px;
    font-weight: 500;
}

.about-us span {
    color: #969696;
}

.about-us p:first-of-type {
    margin-top: 0;
}

.about-us p:nth-of-type(2) {
    margin-bottom: 24px;
}

.about-us p:last-of-type {
    margin-top: 12px;
    margin-bottom: 0;
}

.about-us a,
.about-us a:active {
    color: var(--text-color);
}

.services .bg {
    padding-bottom: 50px;
    background: #f9f9f9;
    box-shadow: 0px 0px 4px 0px rgba(128, 128, 128, 0.4);
}

/* Inputs start */

.inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 22px;
    margin: 0 auto 45px;
    padding: 0;
    border-radius: 5px;
    list-style: none;
}

.inputs__block {
    display: flex;
    align-items: center;
    height: 100%;
}

.inputs__item {
    height: 100%;
    position: relative;
}

label {
    display: inline-block;
    padding: 10px 19px;
    height: 22px;
    font-size: 18px;
    cursor: pointer;
    line-height: 22px;
    transition: all 0.2s ease-in-out;
    border-top: 2px solid var(--highlight-color);
    border-right: 1px solid var(--highlight-color);
    border-bottom: 2px solid var(--highlight-color);
    border-left: 1px solid var(--highlight-color);
    box-shadow: 0px 0px 4px 0px rgb(128 128 128 / 20%);
}

.inputs__item:first-of-type label {
    border-left: 2px solid var(--highlight-color);
}

.inputs__item:last-of-type label {
    border-right: 2px solid var(--highlight-color);
}

label[for=type],
label[for=area],
input[type="radio"]:checked + label,
input[type="checkbox"]:checked + label {
    background: var(--highlight-color);
    color: white;
}

select[id=type] {
    position: relative;
    padding: 10px 38px 10px 19px;
    font-size: 18px;
    border: 2px solid var(--highlight-color);
    background: white;
    color: inherit;
    cursor: pointer;
}

.select__wrapper:before {
    position: absolute;
    content: "";
    right: 7px;
    top: 50%;
    width: 2em;
    height: 2em;
    transform: rotate(90deg) translateX(-50%);
    transition: transform 0.15s ease-in-out;
    background: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjM0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIzNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC41OSAxNi4zNGw0LjU4LTQuNTktNC41OC00LjU5TDEwIDUuNzVsNiA2LTYgNnoiLz48L3N2Zz4=") no-repeat 50% 50% / 1.3em 1.3em;
    z-index: 5;
    pointer-events: none;
}

input[type=number] {
    margin-left: -5px;
    padding: 10px 19px;
    width: 31px;
    height: 22px;
    font-size: 18px;
    border: 2px solid var(--highlight-color);
    border-radius: 0;
    -moz-appearance: textfield;
}

select,
input[type=radio] {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}


input[type=radio],
input[type=checkbox] {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.input {
    grid-column: 2/-2;
    padding: 0px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    border: none;
}

/* Inputs end */

.articles__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 34px 25px;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.articles a {
    text-decoration: none;
    color: var(--text-color);
}

.articles h3 {
    margin: -8px 0 14px 0;
    font-size: 18px;
    font-weight: 500;
}

.articles img {
    vertical-align: bottom;
    width: 100%;
    background-size: cover;
    box-shadow: 0px 0px 4px 0px rgba(128, 128, 128, 0.4);
}

.articles__paragraph {
    margin: 14px 0 0 0;
}

article .center {
    width: 100%;
}

article .left {
    width: 40%;
    float: left;
    margin-right: 32px;
    margin-bottom: 16px;
}

article b {
    font-weight: 500;
}

article p:first-of-type {
    margin-top: 0;
}

article p:last-of-type {
    margin-bottom: 0;
}

figure {
    margin: 0;
}

article img {
    width: 100%;
    vertical-align: bottom;
}

article figcaption {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    color: #969696;
}

article .line {
    margin: 35px 0;
}

.slider {
    max-width: 100%;
    position: relative;
}

.slider .item {
    display: none;
}

.slider img {
    height: 600px;
    object-fit: contain;
}

.slider .prev,
.slider .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    margin: auto;
    padding: 0 50px;
    font-weight: regular;
    font-size: 32px;
    line-height: 600px;
    color: white;
    transition: 0.6s ease;
}

.slider .next {
    right: 0;
}

.slider:hover .prev,
.slider:hover .next {
    background-color: rgba(0, 0, 0, 0.5);
}

header .slider-dots {
    position: absolute;
    top: 15px;
    left: -100px;
    transform: rotate(90deg);

}

article .slider-dots {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 575px;
    left: 50%;
    text-align: center;
}

.slider-dots-item {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.slider-dots-item .active,
.slider-dots-item:hover {
    background-color: #aaa;
}

.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.0s;
    animation-name: fade;
    animation-duration: 1.0s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.clearfix {
    height: 0px;
    clear: both;
}

@media (max-width: 1200px) {
    .main-page,
    .main-page header,
    .secondary-page,
    .secondary-page header,
    footer {
        grid-template-columns: 10px 1fr 10px;
    }

    .main-page {
        grid-template-rows: 400px;
    }

    .main-page header {
        grid-template-rows: repeat(2, 200px);
        background: #5a89aa url("../img/header.jpg") no-repeat;
    }

    nav {
        position: fixed;
        width: 100vw;
        height: 50px;
        padding-left: 10px;
        background: var(--text-color);
        z-index: 10;
        transition: top ease .5s;
    }

    nav.active {
        top: -50px;
    }

    nav h1 {
        margin: 0;
        font-size: 20px;
        line-height: 50px;
        color: white;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 3;
        background: rgba(0, 0, 0, .2);
        transition: ease .5s;
    }

    .overlay.active {
        display: block;
    }

    .main-nav {
        position: fixed;
        left: 0;
        width: 70vw;
        height: 100vh;
        padding-top: 50px;
        flex-direction: column;
        background: var(--text-color);
        transform: translateX(-71vw);
        z-index: 5;
        transition: transform ease .3s;
    }

    .main-nav.active {
        transform: translateX(0);
    }

    .main-nav li:first-of-type,
    .nav-button {
        display: block;
    }

    .main-nav li {
        margin: 0;
        padding: 0;
        align-self: auto;
    }

    .main-nav a {
        display: block;
        padding-left: 30px;
        padding-top: 7px;
        padding-bottom: 7px;
        text-transform: uppercase;
    }

    .secondary-page .main-nav a {
        color: white;
    }

    .line-nav {
        margin: 5px 30px;
    }

    .nav-button {
        position: fixed;
        top: 0px;
        right: 0px;
        width: 50px;
        height: 50px;
        transition: ease .5s;
    }

    .nav-button span {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 25px;
        height: 3px;
        transform: translate(-50%, -50%);
        background-color: white;
    }

    .nav-button span::before,
    .nav-button span::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 3px;
        background-color: white;
        transition: transform ease .3s;
    }

    .nav-button span::before {
        transform: translateY(7px);
    }

    .nav-button span::after {
        transform: translateY(-7px);
    }

    .nav-button.active span {
        background-color: transparent;
    }

    .nav-button.active span::before {
        transform: rotate(-45deg);
    }

    .nav-button.active span::after {
        bottom: 0;
        transform: rotate(45deg);
    }

    .overflow {
        overflow: hidden;
    }

    .slider-features {
        grid-row-start: 2;
        width: 400px;
    }

    .nav-features {
        margin: 0;
    }

    .nav-features .item {
        width: 500px;
    }

    .title {
        margin: 34px auto;
        font-size: 20px;
    }

    .secondary-page h2 {
        margin: 84px auto 34px;
    }

    .about-us .team {
        grid-template-columns: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 13px;
    }

    .about-us h3 {
        margin-top: 7px;
    }

    .about-us figcaption {
        font-size: 14px;
        font-weight: 300;
        line-height: 28px;
    }

    .articles__items {
        grid-template-columns: repeat(2, 1fr);
    }

    .articles__paragraph {
        margin: 14px 0 0 0;
    }

    .slider img {
        height: calc((100vw - 20px) / 1.9);
    }

    article .left {
        width: 100%;
        float: none;
        margin: 0;
    }

    .slider .prev,
    .slider .next {
        line-height: calc((100vw - 20px) / 1.9);
    }

    .slider:hover .prev,
    .slider:hover .next {
        background-color: transparent;
    }

    article .slider-dots {
        top: calc((100vw - 20px) / 1.9 - 25px)
    }

    .slider .prev::after,
    .slider .next::after {
        content: '';
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background: rgba(0, 0, 0, 0.1);
        z-index: -1;
    }

    .slider .prev::after {
        left: 52%;
    }

    .slider .next::after {
        left: 48%;
    }
}

@media (max-width: 800px) {
    .hidden-logo {
        display: none;
    }

    .articles p {
        display: none;
    }

    .contacts {
        grid-template-columns: repeat(1, 1fr);
        padding: 23px 0 19px;

    }

    .contacts h3 {
        text-align: center;
        margin: 0;
    }

    .contacts div:not(:first-of-type) h3 {
        margin-top: 10px;
    }


    .contacts div:last-of-type h3 {
        margin-bottom: 11px;
    }

    .contacts li {
        text-align: center;
    }

    .follow-us ul {
        display: flex;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
        list-style: none;
    }
}

@media (max-width: 600px) {
    .articles ul {
        grid-template-columns: 1fr;
    }

    .slider-features {
        width: 100%;
    }
}