@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i&display=swap&subset=cyrillic');

*:focus {
	outline: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.swiper {
	height: 100%;
}

.swiper-wrapper {
	margin: 0;
	padding: 0;
}

.swiper-pagination-bullet-active {
	background: #f2b563;
}

.swiper-button-prev,
.swiper-button-next {
	display: none;
}


html,
body {
	overflow-y: auto;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
	color: #323232;
}

.main-page {
	display: grid;
	grid-template-columns: 1fr 1140px 1fr;
	grid-template-rows: 100vh;;

}

.secondary-page {
	display: grid;
	grid-template-columns: 1fr 1140px 1fr;
}


.main-page header {
	/* display: grid; */
	/* grid-template-columns: 1fr 1140px 1fr; */
	/* grid-template-rows: minmax(300px, auto) minmax(400px, auto); */
	grid-column: 1/-1;
	/* background: #5a89aa url("../img/header.jpg") no-repeat 0 -100px;
	background-size: cover;
	box-shadow: 0px 0px 4px 0px rgba(128, 128, 128, 0.4); */
}

.secondary-page header {
	display: grid;
	grid-template-columns: 1fr 1140px 1fr;
	grid-column: 1/-1;
	color: #323232;
}

main {
	grid-column: 2/3;
}

.main-nav {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	/* grid-column: 2/3; */
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 auto 50px;
	width: 100%;
	max-width: 1140px;
	height: 86px;
	z-index: 10;
}

.main-nav h1 {
	margin: 0;
	font-size: 24px;
	line-height: 36px;
	font-weight: 500;
}

.main-nav__logo {
	align-self: flex-end;
	text-decoration: none;
	color: white;
}

.secondary-page .main-nav__logo {
	color: #323232;
}

.main-nav__list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-nav__list li {
	align-self: flex-end;
	margin-left: 40px;
}

.main-nav__list li:first-of-type,
.main-nav__button,
.overlay {
	display: none;
}

.main-nav__list a {
	font-size: 18px;
	font-weight: 400;
	line-height: 36px;
	color: white;
	text-decoration: none;
	transition: 0.4s;
}

.secondary-page .main-nav__list a {
	color: #323232;
}

.main-nav__list a:hover {
	color: #f2b563;
}

.slider-features {
	grid-column: 2/3;
	width: 50%;
	overflow: hidden;
}

.nav-features {
	display: flex;
	width: 2000px;
	margin: 0 0 0 100px;
	padding: 0;
	list-style: none;
	color: white;
	transition: transform ease 1.75s;
}

.nav-features .item {
	width: 500px;
	box-sizing: border-box;
	transition: opacity ease 0.5s;
}

.nav-features h3 {
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
	margin: 0;
}

.nav-features p {
	font-size: 18px;
	font-weight: 300;
	line-height: 36px;
	margin: 0 0 50px 0;
}

.button {
	margin-left: 400px;
	padding: 12px 30px 13px 30px;
	border-radius: 5px;
	background-color: #f2b563;
	font-size: 18px;
	font-weight: 400;
	line-height: 36px;
	text-decoration: none;
	color: white;
	transition: margin-left ease 2.0s;
}

.wrapper {
	display: flex;
	/* flex-grow: 1; */
}

.title {
	display: inline;
	margin: 44px auto;
	font-size: 24px;
	font-weight: 500;
	text-align: center;
	border-bottom: 3px solid #f2b563;
}

.about-us .team {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 25px;
}

.about-us img {
	width: 100%;
	vertical-align: bottom;
	box-shadow: 0px 0px 4px 0px rgba(128, 128, 128, 0.2);
}

.about-us figcaption {
	font-size: 14px;
	font-weight: 300;
}

.about-us h3 {
	margin: 0;
	margin-top: 17px;
	margin-bottom: -2px;
	font-size: 16px;
	font-weight: 500;
}

.about-us span {
	color: #969696;
}

.about-us p:first-of-type {
	margin-top: 0;
}

.about-us p:nth-of-type(2) {
	margin-bottom: 24px;
}

.about-us p:last-of-type {
	margin-top: 12px;
	margin-bottom: 0px;
}

.about-us a,
.about-us a:active {
	color: #323232;
}

.services .bg {
	padding-bottom: 50px;
	background: #f9f9f9;
	box-shadow: 0px 0px 4px 0px rgba(128, 128, 128, 0.4);
}

/* Inputs start */

.inputs {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 22px;
	margin: 0 auto 45px;
	padding: 0;
    border-radius: 5px;
	list-style: none;
}

.inputs__block {
	display: flex;
	align-items: center;
	height: 100%;
}

.inputs__item {
	height: 100%;
	position: relative;
}

label {
	display: inline-block;
	padding: 10px 19px;
	height: 22px;
	font-size: 18px;
	cursor: pointer;
	line-height: 22px;
	transition: all	0.2s ease-in-out;
	border-top: 2px solid #f2b563;
	border-right: 1px solid #f2b563;
	border-bottom: 2px solid #f2b563;
	border-left: 1px solid #f2b563;
	box-shadow: 0px 0px 4px 0px rgb(128 128 128 / 20%);
}

.inputs__item:first-of-type label {
	border-left: 2px solid #f2b563;
}

.inputs__item:last-of-type label {
	border-right: 2px solid #f2b563;
}

label[for=type],
label[for=area],
input[type="radio"]:checked + label,
input[type="checkbox"]:checked + label {
	background: #f2b563;
	color: white;
}

select[id=type] {
	position: relative;
	padding: 10px 38px 10px 19px;
	font-size: 18px;
	border: 2px solid #f2b563;
	background: white;
	color: inherit;
	cursor: pointer;
	/* -moz-appearance: textfield; */
}

.select__wrapper:before {
	position: absolute;
	content: "";
	right: 7px;
	top: 50%;
	width: 2em;
	height: 2em;
	transform: rotate(90deg) translateX(-50%);
	transition: transform 0.15s ease-in-out;
	background: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjM0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIzNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC41OSAxNi4zNGw0LjU4LTQuNTktNC41OC00LjU5TDEwIDUuNzVsNiA2LTYgNnoiLz48L3N2Zz4=") no-repeat 50% 50% / 1.3em 1.3em;
	z-index: 5;
	pointer-events: none;
}


input[type=number] {
	margin-left: -5px;
	padding: 10px 19px;
	width: 31px;
	height: 22px;
	font-size: 18px;
	border: 2px solid #f2b563;
	border-radius: 0;
	-moz-appearance: textfield;
}

select,
input[type=radio] {
	position: absolute;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}


input[type=radio],
input[type=checkbox] {
	display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
	margin: 0;
}

.input {
	grid-column: 2/-2;
	padding: 0px;
	font-family: inherit;
	font-size: 16px;
	font-weight: 400;
	border: none;
}

/* Inputs end */

/* Services start */

.main-services {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 25px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-services__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* padding: 30px 15px 45px; */
	padding: 30px 15px 25px;
	background: #f9f9f9;
	box-shadow: 0px 0px 4px 0px rgb(128 128 128 / 30%);
	transition: all	0.2s ease-in-out;
}

.main-services__item:hover {
	transform: translateY(-5px);
}

.main-services__title,
.main-services__price {
	margin: 0;
	font-size: 24px;
	font-weight: 500;
}

.main-services__title {
	margin-bottom: 20px;
	
}

.main-services__price {
	color: #f2b563;
}

.main-services__duration {
	color: #969696;
}

.list {
	flex-grow: 1;
	padding-left: 10px;
	margin: 0;
}

.list__item {
	position: relative;
	padding-left: 25px;
	margin: 20px 0;
	list-style: none;
}

.list__item.check :before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 2px;
    width: 5px;
    height: 9px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: #f2b563;
    transform-origin: bottom left;
    transform: rotate(45deg);
}

.list__item.plus::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 14px;
    width: 10px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: #f2b563;
    transform-origin: bottom left;
}

.list__item.plus::before {
    content: '';
    display: block;
    position: absolute;
    left: 5px;
    top: 7px;
    width: 10px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: #f2b563;
    transform-origin: bottom left;
    transform: rotate(90deg);
}

.list__title {
	margin: 0;
	font-style: 14px;
	font-weight: 500;
}

.list__text {
	margin: 0;
	font-size: 12px;
	line-height: 24px;
	color: #969696;
}

.main-services__button {
	padding: 10px 50px;
	border: 2px solid #f2b563;
	border-radius: 5px;
	background: none;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.main-services__button:hover {
	background: #f2b563;	
}

.add-services {
	margin: 44px 0 0;
	padding: 0;
	list-style: none;
}

.services li:last-of-type p {
	margin-bottom: 0;
}

details {
	position: relative;
}

.add-services__summary {
	display: flex;
	justify-content: space-between;
	list-style: none;
}

details summary::-webkit-details-marker {
	display: none;
}

details summary::before {
	content: "";
	position: absolute;
	left: 0px;
	background: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjM0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIzNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC41OSAxNi4zNGw0LjU4LTQuNTktNC41OC00LjU5TDEwIDUuNzVsNiA2LTYgNnoiLz48L3N2Zz4=") no-repeat 50% 50% / 1.3em 1.3em;
	width: 2em;
	height: 2em;
	transition: transform 0.15s ease-in-out;
}

details[open] summary:before {
	transform: rotate(90deg);
}

.add-services__title {
	display: inline-block;
	padding: 0 0 0 50px;
	margin: 0;
}

.add-services__title,
.add-services__price {
	font-size: 18px;
	font-weight: 500;
	line-height: 36px;
	cursor: pointer;
}

.add-services__text {
	padding: 0 150px 0 50px;
}

.add-services__summary:hover {
	color: #f2b563;
}

.line {
	margin: 35px 0;
	border-bottom: 1px solid #323232;
	opacity: 0.2;
}

/* Services end */

.articles__items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 34px 25px;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
}

.articles a {
	text-decoration: none;
	color: #323232;
}

.articles h3 {
	margin: -8px 0 14px 0;
	font-size: 18px;
	font-weight: 500;
}

.articles img {
	vertical-align: bottom;
	width: 100%;
	background-size: cover;
	box-shadow: 0px 0px 4px 0px rgba(128, 128, 128, 0.4);
}

.articles__paragraph {
	margin: 14px 0 0 0;
}

article .center {
	width: 100%;
}

article .left {
	width: 40%;
	float: left;
	margin-right: 32px;
	margin-bottom: 16px;
}

article b {
	font-weight: 500;
}

article p:first-of-type {
	margin-top: 0;
}

article p:last-of-type {
	margin-bottom: 0;
}

figure {
	margin: 0;
}

article img {
	width: 100%;
	vertical-align: bottom;
}

article figcaption {
	text-align: center;
	font-size: 14px;
	font-weight: 300;
	color: #969696;
}

article .line {
	margin: 35px 0;
}

.slider {
	max-width: 100%;
	position: relative;
}

.slider .item {
	display: none;
}

.slider img {
	height: 600px;
	object-fit: contain;
}

.slider .prev,
.slider .next {
	cursor: pointer;
	position: absolute;
	top: 0;
	margin: auto;
	padding: 0 50px;
	font-weight: regular;
	font-size: 32px;
	line-height: 600px;
	color: white;
	transition: 0.6s ease;
}

.slider .next {
	right: 0;
}

.slider:hover .prev,
.slider:hover .next {
	background-color: rgba(0, 0, 0, 0.5);
}

header .slider-dots {
	position: absolute;
	top: 15px;
	left: -100px;
	transform: rotate(90deg);

}

article .slider-dots {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 575px;
	left: 50%;
	text-align: center;
}

.slider-dots-item {
	cursor: pointer;
	height: 12px;
	width: 12px;
	margin: 0 2px;
	background-color: #ddd;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.slider-dots-item .active,
.slider-dots-item:hover {
	background-color: #aaa;
}

.slider .item {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.0s;
	animation-name: fade;
	animation-duration: 1.0s;
}

@-webkit-keyframes fade {
	from {
		opacity: .4
	}

	to {
		opacity: 1
	}
}

@keyframes fade {
	from {
		opacity: .4
	}

	to {
		opacity: 1
	}
}

.clearfix {
	height: 0px;
	clear: both;
}

.footer {
	grid-column: 1/-1;
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 1140px 1fr;
	min-height: 200px;
	margin-top: 100px;
	background: #323232;
	box-shadow: 0px 0px 4px 0px rgba(128, 128, 128, 0.4);
	z-index: 1;
}

/* Old styles */

.contacts {
	grid-column: 2/-2;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 25px;
	padding: 50px 0 39px;
}

.contacts h3 {
	margin: 0 0 20px;
	font-size: 18px;
	line-height: 32px;
	font-weight: 400;
	color: #f2b563;
}

.contacts ul {
	margin: 0;
	padding: 0;
}

.contacts span,
.contacts a {
	font-size: 18px;
	line-height: 32px;
	font-weight: 400;
	text-decoration: none;
	color: white;
}

.follow-us ul {
	display: flex;
	list-style: none;
}

.follow-us li {
	margin-right: 15px;
}

.footer__socials path {
	fill: white;
}

.copyright {
	grid-column: 2/-2;
	text-align: center;
}

.copyright span {
	font-style: normal;
}

/* Old styles */

/* Footer */

#map {
	height: 470px;
	/* The height is 400 pixels */
	width: 100%;
	/* The width is the width of the web page */
}

.footer__map {
	grid-column: 1/-1;
}

.footer__content {
	grid-column: 2/-2;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__info {
	margin: 100px 0;
	max-width: 370px;
}

.footer__title {
	margin: 0;
	font-size: 18px;
	font-weight: 400;
	/* line-height: 18px; */
	text-decoration: none;
	color: white;
}

.footer__text,
.footer__name {
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5;
	color: #c8c8c8;
}

.footer__text {
	margin: 25px 0 50px;
	height: 111px;
}

.footer__line {
	margin: 0;
}

.footer__line:first-of-type,
.footer__link--address {
	margin-bottom: 15px;
}

.footer__name {
	margin: 0;
	padding-top: 50px;
	border-top: 1px solid #c8c8c8;
}

.footer__contacts {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin: 100px 0;
	max-width: 370px;
}

.footer__live {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.footer__link {
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5;
	text-decoration: none;
	color: #c8c8c8;
}

.footer__link--phone {
	font-weight: 400;
	line-height: 32px;
	
	color: #f2b563;
}

.footer__wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin: 25px 0 50px;
	height: 111px;
}

.footer__socials {
	display: flex;
	justify-content: flex-end;
	margin: 0;
	padding: 38px 0 0 0;
	width: 325px;
	border-top: 1px solid #c8c8c8;
	list-style: none;
}

.socials__item {
	margin-left: 20px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.socials__link {
	line-height: 18px;
}

@media (max-width: 1200px) {

	.main-page,
	.main-page header,
	.secondary-page,
	.secondary-page header,
	footer {
		grid-template-columns: 10px 1fr 10px;
	}

	.main-page {
		grid-template-rows: 400px;
	}

	.main-page header {
		grid-template-rows: repeat(2, 200px);
		background: #5a89aa url("../img/header.jpg") no-repeat;
	}

	.main-nav {
		position: fixed;
		width: 100vw;
		height: 50px;
		padding-left: 10px;
		background: #323232;
		z-index: 2;
		transition: top ease .5s;
	}

	.main-nav.active {
		top: -50px;
	}

	.main-nav h1 {
		margin: 0;
		font-size: 20px;
		line-height: 50px;
		color: white;
	}

	.overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: 3;
		background: rgba(0, 0, 0, .2);
		transition: ease .5s;
	}

	.overlay.active {
		display: block;
	}

	.main-nav__list {
		position: fixed;
		left: 0;
		width: 70vw;
		height: 100vh;
		padding-top: 50px;
		flex-direction: column;
		background: #323232;
		transform: translateX(-71vw);
		z-index: 5;
		transition: transform ease .3s;
	}

	.main-nav__list.active {
		transform: translateX(0);
	}

	.main-nav__list li:first-of-type,
	.main-nav__button {
		display: block;
	}

	.main-nav__list li {
		margin: 0;
		padding: 0;
		align-self: auto;
	}

	.main-nav__list a {
		display: block;
		padding-left: 30px;
		padding-top: 7px;
		padding-bottom: 7px;
		text-transform: uppercase;
	}

	.secondary-page .main-nav__list a {
		color: white;
	}

	.main-nav__line {
		margin: 5px 30px;
	}

	.main-nav__button {
		position: fixed;
		top: 0px;
		right: 0px;
		width: 50px;
		height: 50px;
		transition: ease .5s;
	}

	.main-nav__button span {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 25px;
		height: 3px;
		transform: translate(-50%, -50%);
		background-color: white;
	}

	.main-nav__button span::before,
	.main-nav__button span::after {
		content: '';
		position: absolute;
		width: 25px;
		height: 3px;
		background-color: white;
		transition: transform ease .3s;
	}

	.main-nav__button span::before {
		transform: translateY(7px);
	}

	.main-nav__button span::after {
		transform: translateY(-7px);
	}

	.main-nav__button.active span {
		background-color: transparent;
	}

	.main-nav__button.active span::before {
		transform: rotate(-45deg);
	}

	.main-nav__button.active span::after {
		bottom: 0;
		transform: rotate(45deg);
	}

	.overflow {
		overflow: hidden;
	}

	.slider-features {
		grid-row-start: 2;
		width: 400px;
	}

	.nav-features {
		margin: 0;
	}

	.nav-features .item {
		width: 500px;
	}


	.title {
		margin: 34px auto;
		font-size: 20px;
	}

	.secondary-page h2 {
		margin: 84px auto 34px;
	}

	.about-us .team {
		grid-template-columns: 1fr;
		grid-column-gap: 20px;
		grid-row-gap: 13px;
	}

	.about-us h3 {
		margin-top: 7px;
	}

	.about-us figcaption {
		font-size: 14px;
		font-weight: 300;
		line-height: 28px;
	}

	/* .about-us p:last-of-type {
		margin-bottom: 30px;
	} */

	/* Services start */

	.services h2 {
		margin-top: 27px;
	}

	.main-services {
		display: grid;
		grid-template-columns: 1fr;
		gap: 25px;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.main-services__title {
		font-size: 20px;
		margin-bottom: 15px;
	}

	.main-services__price {
		font-size: 20px;
	}

	.main-services__item {
		padding: 30px 15px;
	}

	.main-services__button {
		margin-top: 15px;
	}

	details summary::before {
		content: none;
	}

	.add-services__text {
		padding: 0;
	}

	.add-services__title {
		padding: 0 10px 0 0;
	}

	.list__item {
		margin: 15px 0;
	}

	.line {
		margin: 25px 10px;
	}

	/* Services end */

	.articles__items {
		grid-template-columns: repeat(2, 1fr);
	}

	.articles__paragraph {
		margin: 14px 0 0 0;
	}

	.slider img {
		height: calc((100vw - 20px) / 1.9);
	}

	article .left {
		width: 100%;
		float: none;
		margin: 0;
	}

	.slider .prev,
	.slider .next {
		line-height: calc((100vw - 20px) / 1.9);
	}

	.slider:hover .prev,
	.slider:hover .next {
		background-color: transparent;
	}

	article .slider-dots {
		top: calc((100vw - 20px) / 1.9 - 25px)
	}

	.slider .prev::after,
	.slider .next::after {
		content: '';
		position: absolute;
		transform: translate(-50%, -50%);
		top: 50%;
		width: 40px;
		height: 40px;
		border-radius: 20px;
		background: rgba(0, 0, 0, 0.1);
		z-index: -1;
	}

	.slider .prev::after {
		left: 52%;
	}

	.slider .next::after {
		left: 48%;
	}

	/* Footer */

	.footer {
		grid-template-columns: 10px 1fr 10px;
		margin-top: 60px;
	}

	.footer__content {
		flex-direction: column;
		align-items: flex-start;
	}

	.footer__info {
		margin: 50px 0 0;
		max-width: 100%;
		width: 100%;
	}

	.footer__logo {
		display: none;
	}

	.footer__name {
		display: none;
	}

	.footer__text,
	.footer__name {
		margin: 15px 0 45px;
	}


	.footer__name {
		padding-top: 30px;
	}

	.footer__contacts {
		align-items: flex-start;
		margin: 0 0 25px 0;
		padding: 40px 0 0 0;
		width: 100%;
		max-width: 100%; 
		border-top: 1px solid #c8c8c8;
	}

	.footer__live {
		align-items: flex-start;
	}

	.footer__wrapper {
		margin: 15px 0 50px;
		height: auto;
		align-items: flex-start;
	}

	.footer__socials {
		justify-content: space-between;
		margin-bottom: 15px;
		padding: 40px 0 0 0;
		width: 100%;
	}

	.socials__item {
		margin: 0;
	}
}

@media (max-width: 800px) {
	.hidden-logo {
		display: none;
	}

	.articles p {
		display: none;
	}

	.contacts {
		grid-template-columns: repeat(1, 1fr);
		padding: 23px 0 19px;

	}

	.contacts h3 {
		text-align: center;
		margin: 0;
	}

	.contacts div:not(:first-of-type) h3 {
		margin-top: 10px;
	}


	.contacts div:last-of-type h3 {
		margin-bottom: 11px;
	}

	.contacts li {
		text-align: center;
	}

	.follow-us ul {
		display: flex;
		width: 300px;
		margin-left: auto;
		margin-right: auto;
		justify-content: space-between;
		list-style: none;
	}
}

@media (max-width: 600px) {
	.articles ul {
		grid-template-columns: 1fr;
	}

	.slider-features {
		width: 100%;
	}
}